section {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    overflow-x: hidden
        !important;
}

::-webkit-scrollbar {
    width: 0.6vw;
    background: #222222;
}
  
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(#087b97, #0bcea7);
    background: linear-gradient(#087b97, #0bcea7);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(#0ea2c7, #11f0c3);
}

::-webkit-scrollbar-thumb:active {
    background: -webkit-linear-gradient(#065c72, #09977b);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

h4 {
    background: none;
}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
    background-color: #1313139a;
    backdrop-filter: blur(7px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}   

ul {
    background-color: transparent;
    list-style: none;
    display: flex;
}

a {
    background-color: transparent;
    margin: 0 35px 0 35px;
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

a:hover {
    color: white;
    transition: 0.3s;
}

li {
    background-color: transparent;
}

p {
    font-size: 18px;
}

footer {
    height: 55vh;
    background: linear-gradient(0deg, rgba(51,107,97,1) 5%, rgba(30,47,43,1) 45%, rgba(25,33,31,1) 59%, rgba(22,28,26,1) 68%, rgb(22, 22, 22) 79%, rgb(19, 19, 19) 95%);
}

@media (min-width: 1200px) {
    nav {
        height: 10vh;
    }
    .logoNav {
        width: 500px;
        margin-right: 90px;
    }
}   

@media (max-width: 1199px) {
    nav {
        height: 9vh;
    }
    .logoNav {
        width: 45px;
        margin-right: 50px;
    }
    .linha1 {
        width: 100px;
    }
    .linha2 {
        width: 100px;
    }
}

@media (max-width: 1080px) {

    p {
        font-size: 15px;
    }

}

@media (max-width: 991px) {
    h1 {
        font-size: 43px;
    }
    h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 15px;
    }
    p {
        font-size: 13px;
    }
    .login {
        position: absolute;
        right: 40px;
        top: 9px;
    }
    nav {
        height: 8vh;
    }
    .logoNav {
        margin: 0;
    }
    .linha1 {
        display: none;
    }
    .linha2 {
        display: none;
    }
    .linha3 {
        display: none;
    }
    .linha4 {
        display: none;
    }
    li {
        display: none;
    }
    ul {
        display: none;
    }

}

@media (max-width: 900px) {
    h1 {
        font-size: 38px;
    }
    p {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 19px;
    }
    h4 {
        font-size: 13px;
    }
    p {
        font-size: 11px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 12px;
    }
    .login {
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 11px;
    }
}

@media (max-width: 335px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 16px;
    }
    h4 {
        font-size: 10px;
    }
}