.logoNav {
    width: 50px;
}

.father {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

ul {
    background-color: transparent;
    list-style: none;
    display: flex;
}

a {
    background-color: transparent;
    margin: 0 35px 0 35px;
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

a:hover {
    color: white;
    transition: 0.3s;
}

li {
    background-color: transparent;
}

.logoNav {
    width: 100px;
    height: 50px;
    left: 200px;
}

.linha1 {
    position: absolute;
    top: 130px;
    left: 0;
    width: 30%;
    transform: rotate(180deg);
    z-index: 2;
}

.linha2 {
    position: absolute;
    top: 130px;
    right: 0;
    width: 30%;
    z-index: 2;
}

.text-welcome {
    height: 55%;
    width: 50%;
    background-color: purple;
    z-index: 3;
}


.section-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130vh;
    background-image: url(../../imgs/img-sobre6.png);
    background-position: cover;
    background-size: cover;
}

.sobre-main {
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    color: aliceblue;
    border-radius: 12px;
    border: black;
    border: solid#131313 3px;
    backdrop-filter: blur(10px);
}
.sobre-titulo {
    display: flex;
    padding-bottom: 30px;
    padding: 30px;
    margin-bottom: 50px;
    background: transparent;
    /* background-color: aliceblue; */
}
.sobre-titulo h1 {
    background: transparent;
}