@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131313;
  width: 100vw;
  height: 100vh;
}

/* Fonte */
.kanit-thin {
  font-family:  "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family:  "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family:  "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family:  "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family:  "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family:  "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family:  "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family:  "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family:  "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}



/* Main */
main {
  margin-left: 12vw;
  height: 150vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  margin-top: 6vh;
  font-family:  "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Chamados */
.chamados {
  margin-top: 10px;
  display: flex;
  align-items: start;
  /* width: 100vw;
    height: 100vh; */
  flex-direction: column;
  justify-content: start;
  margin-bottom: 25px;
  max-height: 50%;
  min-height: fit-content;
  width: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 2px;
  border-radius: 7px;
}

.chamado {
  width: 80vw;
  height: auto;
  margin-bottom: 20px;
}

/* Cabeçalho chamado */
.cabecalhoChamado {
  width: 100%;
  height: 10vh;
  background-color: #131313;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:  "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  border-radius: 7px 7px 0 0;
}

.tituloChamado {
  padding-left: 58px;
  margin-bottom: 10px;
}

.informacoesChamado {
  display: flex;
  width: 38%;
  justify-content: space-evenly;
  align-items: center;
}

.informacoesChamado img {
  width: 2vw;
  height: 4vh;
}

.separacaoInformacoes {
  display: flex;
  width:auto;
  /* width: 32%; */
  justify-content: space-between;
}

.separacaoInformacoes p {
  margin-left: 5px;
}

.separacaoInformacoes2 {
  display: flex;
  width: auto;
}
.separacaoInformacoes2 p{
  margin-left: 5px;
}

.separacaoInformacoes3 {
  display: flex;
  width: auto;
}

.separacaoInformacoes3 p {
  margin-left: 5px;
}

.negrito {
  font-weight: bold;
}

.dadosChamado {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  /* align-items: center; */
  justify-content: space-around;
  width: 12vw;
  height: 90%;
  align-items: center;
}

.dadosChamado button {
  background-color: #19CE1F;
  /* width: 100%; */
  width: 12.2vw;
  height: 5vh;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  /* border: none; */
  border-color: #19CE1F;
}

.sobreChamado {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.fundoChamado {
  width: 100%;
  height: 25vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
  border-radius: 0 0 7px 7px;
}


/* Texto chamado */
.fundoChamado p {
  align-self: flex-start;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
}

.textoChamado {
  /* width: 1100px; */
  width: 70vw;
  height: 70%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 10px;
}


/* Responsividade */
/* Ajustes para resoluções menores, como tablets*/
@media (max-width: 1080px) {
  .tituloChamado {
    padding-left: 30px;
  }

  .informacoesChamado {
    width: 70%;
  }

  .cabecalhoChamado {
      height: 8vh;
  }

  .separacaoInformacoes{
    width: 160px;
  }

  .separacaoInformacoes2{
    width: 110px;
  }

  .separacaoInformacoes3{
    width: 80px;
  }

  .sobreChamado{
    font-size: 9px;
  }

  .dadosChamado{
    width: 14vw;
  }

  .dadosChamado button{
    font-size: 11px;
    width: 14vw;
    border-radius: 5px;
  }

  .fundoChamado p{
    font-size: 13px;
    font-weight: bold;
  }
}

/* iphone 12 pro */
@media (min-width: 390px) and (max-width: 844px){
  .chamado {
    width: 80vw;
  }

  main {
    margin-left: 15vw;
  }

  .tituloChamado {
    padding-left: 12px;
  }

  .cabecalhoChamado {
    width: 100%;
    height: 20vh;
  }
}