@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  width: 100vw;
  height: 100vh;
    background-color: #131313;
}

/* Main */
main {
  margin-left: 12vw;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}

.title {
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  width: 92%;
  color: #fff;
  justify-content: space-between;
}

.title button {
  background-color: #08836A;
  /* width: 100%; */
  width: 12.2vw;
  margin-top: 5vh;
  /* margin-bottom: 4vh; */
  height: 6vh;
  border-radius: 7px;
  color: white;
  font-size: large;
  /* font-weight: bold; */
  border: none;
  /* border-color: #0BA385; */
}

.title button:hover {
  background-color: #054C3E;
  /* width: 100%; */
  width: 12.2vw;
  margin-top: 5vh;
  /* margin-bottom: 4vh; */
  height: 6vh;
  border-radius: 7px;
  color: white;
  font-size: large;
  /* font-weight: bold; */
  border: none;
  /* border-color: #0BA385; */
}


h1 {
  margin-top: 6vh;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Chamados */
.chamados {
  margin-top: 10px;
  display: flex;
  align-items: start;
  /* width: 100vw;
    height: 100vh; */
  flex-direction: column;
  justify-content: start;
  margin-bottom: 25px;
  max-height: 50%;
  min-height: fit-content;
  width: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 2px;
  border-radius: 7px;

}

.chamado {
  width: 80vw;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);

}

/* Cabeçalho chamado */
.cabecalhoChamado {
  width: 100%;
  height: 10vh;
  background-color: #054C3E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 7px 7px 0 0;

}

.sobreChamado p {
  background-color: #054C3E;
  font-size: 16px;


}

.informacoesChamado p {
  background-color: #054C3E;
  

}

.tituloChamado {
  padding-left: 58px;
  margin-bottom: 10px;
}

.informacoesChamado {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: #054C3E;

}

.informacoesChamado img {
  width: 2vw;
  height: 4vh;
}

.separacaoInformacoes {
  display: flex;
  width: auto;
  /* width: 32%; */
  justify-content: space-between;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes p {
  margin-left: 5px;
  background-color: #054C3E;

}

.separacaoInformacoes2 {
  display: flex;
  width: auto;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes2 p {
  margin-left: 5px;
  background-color: #054C3E;

}

.separacaoInformacoes3 {
  display: flex;
  width: auto;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes3 p {
  margin-left: 5px;
}

.negrito {
  font-weight: bold;
}

.dadosChamado {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  /* align-items: center; */
  justify-content: space-around;
  width: 12vw;
  height: 90%;
  align-items: center;
  background-color: #054C3E;
}

.dadosChamado button {
  background-color: #CE1919;
  /* width: 100%; */
  width: 12.2vw;
  height: 5vh;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  /* border-color: #CE1919; */
}

.sobreChamado {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  background-color: #054C3E;
  
}

.fundoChamado {
  width: 100%;
  height: 25vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
  border-radius: 0 0 7px 7px;

  -webkit-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
}


/* Texto chamado */
.fundoChamado p {
  align-self: flex-start;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
  background-color: #fff;
}

.textoChamado {
  /* width: 1100px; */
  width: 70vw;
  height: 70%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 10px;
}


/* Responsividade */
/* Ajustes para resoluções menores, como tablets*/
@media (max-width: 750px) {
  .tituloChamado {
    padding-left: 30px;
  }

  .chamado {
    margin-bottom: 0vh;
  }

  .chamados {
    height: 72%;
  }

  .informacoesChamado {
    width: 78%;
  }

  .cabecalhoChamado {
    font-size: 13px;
    width: 92%;
    height: 7vh;
  }

  .separacaoInformacoes {
    width: 173px;
  }

  .separacaoInformacoes2 {
    width: 120px;
  }

  .separacaoInformacoes3 {
    width: 80px;
  }

  .sobreChamado {
    font-size: 9px;
  }

  .dadosChamado {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    /* align-items: center; */
    justify-content: space-around;
    width: 12vw;
    height: 90%;
    align-items: center;
  }

  .dadosChamado button {
    background-color: #CE1919;
    font-size: 10px;
    width: 14vw;
    border-radius: 5px;
    height: 2.5vh;
    color: #CE1919;
  }

  .fundoChamado {
    width: 92%;
    height: 55%;
  }

  .fundoChamado p {
    font-size: 13px;
    font-weight: bold;
  }

  .textoChamado {
    width: 64vw;
    height: 67%;
  }

  main {
    margin-left: 13vw;
  }

  .informacoesChamado img {
    display: none;
  }
}

/* smartphone */
@media (max-width: 350px) {

  header {
    display: none;
  }

  .chamados {
    height: 71%;
  }

  .chamado {
    width: 80vw;
  }

  main {
    margin-left: 5vw;
  }

  .tituloChamado {
    padding-left: 20px;
  }

  .cabecalhoChamado {
    width: 100%;
    height: 10vh;
    flex-direction: column;
  }

  .sobreChamado {
    justify-content: space-evenly;
  }

  .informacoesChamado {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7px;
  }

  .fundoChamado {
    width: 100%;
  }

  .dadosChamado {
    flex-direction: row;
    width: 75vw;
  }

  .dadosChamado button {
    width: 47vw;
  }
}