@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* display: flex; */
}

h1 {
    margin: 0;
    padding: 9px 0px 0px 10px;
}

.header-dash {
    width: 100%;
    height: 60px;
    background-color: #131313;
    color: #FFFF;
    font-family: "Montserrat", sans-serif;
    padding-left: 8%;
}

.header-dash h1 {
    font-weight: normal;
}

.main-dash {
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.content-main {
    width: 100%;
    display: flex;
}

.grafico-section {
    height: 91vh;
    padding-left: 8%;
    background-color: #131313;
}

.dados-section {
    height: 91vh;
    width: 50%;
    background-color: #131313;
    display: block;
    padding-left: 18px;
}

.dados-section h3 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: black;
}

.titulo1{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: white;
    margin-top: 67px;
}

.titulo2 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: white;
    margin-top: 20px;
}

.opcoes {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.opcao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 12px;
}

.opcao h4{
    font-size: 14px
}

.opcao p {
font-size: 14px;
}

.abrir{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* background-color: #0BA385; */
}

/* .dados-section h3{
        color: black;
        font-family: "Kanit", sans-serif;
        font-weight: normal;
        padding-left:19%;
    } */

canvas {
    background-color: white;
}

.openModal {
    font-family: "Montserrat", sans-serif;
    height: 42px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #FFFF;
    margin: 5px 0 5px 25px;
    flex-shrink: 0;
    transition: 0.3s linear;
}

.openModal svg {
    height: 30px;
    width: 30px;
}

.openModal:hover svg path {
    stroke: #FFFF;
    stroke-width: 1;

}

.openModal:hover {
    transition: 0.3s linear;
    background-color: #08836a;
    transition: background-color 0.3s ease, color 0.3s ease;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
    box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
}

.openModal:hover h3,
.openModal:hover span {
    color: white;
}

.openModal h3,
.openModal span {
    font-size: 17px;
}

.openModal h3 {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.error-content {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.alert-content {
    color: rgba(229, 1, 1, 0.6);
    margin: 0 0 0 20px;
}



.frameAlertas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}


.card-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: auto;
    height: calc(22vh + 20px);
    margin: 0px 0 25px;
    overflow-y: auto;
    /* scrollbar-width: none; */
    /* padding: auto; */
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

canvas {
    height: 45vh !important;
    width: 85vh !important;
    border-radius: 10px;
}

.grafico-section {
    width: 45%;
    display: block;
    /* scrollbar-width: none; */
    overflow-y: auto;
    overflow-y: auto;
    padding: auto;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

.grafico-section h3 {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}