@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #131313;
    color: #FFFF;
    font-family: "Montserrat", sans-serif;
}

.topo {
    width: 100%;
    height: auto;
    margin: 40px 0px 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 100px;
}

.kpi {
    width: 40%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.kpi h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px 0px 10px;
    text-align: start;
}

.quadro {
    background-color: #19ceaa18;
    width: 670px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;

}

.indica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

.indica h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.indica h5 {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

/* SERVIDORES */

.serv{
width: 100%;
}

.dados-section {
    width: 80%;
    background-color: #131313;
    display: block;
    padding-left: 18px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.serv h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 0px 20px;
}

.openModal {
    height: 42px;
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: #FFFF;
    margin: 5px 0 5px 0px;
    transition: 0.3s linear;
}

.openModal:hover {
    transition: 0.3s linear;
    background-color: #08836a;
    transition: background-color 0.3s ease, color 0.3s ease;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
    box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
}

.frameAlertas:hover h3,
.frameAlertas:hover h4,
.frameAlertas:hover p,
.frameAlertas:hover span {
    color: white;
}

.frameAlertas h3,
.frameAlertas h4,
.frameAlertas p,
.frameAlertas span {
    font-size: 17px;
}

.frameAlertas h3 {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.frameAlertas {
    color: #000;
    width: 100%;
}

.frameAlertas h3 {
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100%;
}

.abrir {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/* .opcoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* .opcao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}

.opcao h4 {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.opcao p {
    font-size: 18px;
} */

.error-content {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.alert-content {
    color: rgba(229, 1, 1, 0.6);
    margin: 0 0 0 20px;
}

/* GRAFICOS */
canvas {
    height: 50vh !important;
    width: 95vh !important;
    border-radius: 10px;
    background-color: white;
}

.grafico-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}

.grafico-section h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 10px 80px;
}

.grafico-section h3 {
    font-size: 20px;
    font-weight: 400;
    /* margin-left: 10px; */
    margin: 0px 0px 0px 10px;
}

.graf-titu {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.graf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}