/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #212121;
    color: #fff;
    overflow-x: hidden;
}

/* Estilos do header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #212121;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 7%;
}

header img.img_seguranca {
    width: 50px;
    height: 50px;
    margin-right: 55%;
}
.circle-chart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
        #16A799 0% 0%, /* Cor inicial */
        #e0e0e0 0% 100% /* Cor de fundo */
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
}

.circle-inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-text {
    font-size: 18px;
    font-weight: bold;
}
/* Seletores */
#seletores {
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px;
}

.botoesGrafico {
    background-color: #08836A;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    margin-left: 10px;
}

.botoesGrafico:hover {
    background-color: #08836A;
}

/* Gráfico */
#graficoLinha {
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1226px; /* Reduzindo o tamanho do gráfico */
    margin-left: 12%;
 
}

#graficoLinha canvas {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .indicators {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #seletores {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #graficoLinha {
        max-width: 95%; /* Ajusta o gráfico para telas menores */
    }
}

/* Animação */
@keyframes rotateChart {
    0% {
        background: conic-gradient(#00b894 0% 0%, #ffffff 0% 100%);
    }
    100% {
        background: conic-gradient(#00b894 0% var(--progress), #ffffff var(--progress) 100%);
    }
}
