/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

/* Reset básico */
html, body {
    margin: 0;
    padding: 0;
    background-color: #131313;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    overflow-y: hidden;
}

/* Menu Lateral */
#aside-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#aside-menu img.asideLogo {
    width: 50px;
    margin-bottom: 20px;
}

#navLinks {
    list-style: none;
    padding: 0;
}

#navLinks a {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    transition: color 0.3s ease;
}

#navLinks a:hover {
    color: #0BA385;
}

/* Barra Superior */

/*==================================================================================================================*/
.barraSuperior {
    background-color: #054C3E;
    position: fixed;
    display: flex;
    width: 96%;
    height: 12%;
    left: 4.3%;
    top: -0px; 
    /* justify-content: space-around; */
    align-items: center;
    /* flex-direction: row; */
    color: #000;
}

.numPerct {
    margin-left: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    
}

.titlePcrt {
    margin-bottom: -4%;
    font-size: 17px;
    color: #fff;
}

.nmrPcrt {
    font-size: 21px;
    color: #fff;
}


/* Seção de Gráficos */
.dash {
    margin-top: 55px;
    padding: 40px;
    margin-left: 70px;
}

.topoGrafico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.botoesGrafico {
    display: flex;
    gap: 10px;
}

.periodo select, .componentes select {
    background-color: #0BA385;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.grafico {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 97%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    margin-top: -26px;
}

.grafico canvas {
    width: 99% !important;
    height: 515px !important;
   
}

/* Responsividade */
@media (max-width: 768px) {
    #aside-menu {
        width: 50px;
    }

    .barraSuperior {
        left: 50px;
        width: calc(100% - 50px);
    }

    .dash {
        margin-left: 50px;
    }
}
