/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa no viewport */
    z-index: 1; /* Fica na frente */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona rolagem se necessário */
    /* background-color: rgba(0, 0, 0, 0.4); Fundo semi-transparente */
}

.modal-content {
    /* background-color: #fefefe; */
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Largura do conteúdo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.openModal{
    border: none;
    

    width: 100%;
    margin-bottom: 10px;

}

