footer {
    height: 45vh;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(51,107,97,1) 30%, rgba(30,47,43,1) 60%,
    rgba(25,33,31,1) 75%, rgba(22,28,26,1) 85%, rgb(22, 22, 22) 95%, rgb(19, 19, 19) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.icon {
    display: flex;
    flex-direction: row;
}

.ball i{
    color: #ffffff;
    font-size: 24px;
    margin-left: -70px;
    padding: 0px 0px 1px 00px;
}

.ball {    
    background-color: #17171795;
    border-radius: 50%; /* Faz com que a div seja um círculo */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espaço entre os círculos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.ball:hover,
.ball:focus {    
    background-color: #17171795;
    border-radius: 50%; /* Faz com que a div seja um círculo */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espaço entre os círculos */
    transform: translateY(5px) scale(1.1);

}


.direitos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}


.nav2 a{
    color: #ffffff;
}

.nav2 a:hover{
    color: #b0afaf;
}
/* .copyright {
    height: 15%;
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.logo-footer {
    width: 40%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .footer-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 80px;
        gap: 1.5rem;
}

.footer-cadastro, input {
    border-radius: 4px;
}

.email {
    color: black;
    width: 70%;
}

.footer-btn i{
    cursor: pointer;
    border: none;
    color: black;
    height: 100%;
    font-size: 1.100rem;
    padding: 0px 1.00rem;
    border: none;
    border-radius: 0px 4px 4px 0px;
} */

@media screen and (max-width: 1440px) {
    .main {
        padding: 0 20px; 
    }

    .footer-cadastro {
        padding-right: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }

    .container {
        padding-left: 20px; 
    }
}

@media screen and (max-width: 768px) {

    .main {
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }

    .container {
        padding-left: 20px; 
    }

}

@media screen and (max-width: 426px) {
    .main {
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }

    .container {
        padding-left: 20px; 
    }
}

@media screen and (max-width: 320px) {
    .main {
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }

    .container {
        padding-left: 20px; 
    }
}

