@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  width: 100vw;
  height: 100vh;
    background-color: #131313;
}

/* Main */
main {
  margin-left: 12vw;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}

.title {
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  width: 95%;
  color: #fff;
  justify-content: space-between;
}

.title button {
  background-color: #08836A;
  /* width: 100%; */
  width: 14.2vw;
  margin-top: 5vh;
  /* margin-bottom: 4vh; */
  height: 6vh;
  border-radius: 7px;
  color: white;
  font-size: large;
  /* font-weight: bold; */
  border: none;
  /* border-color: #0BA385; */
}

.title button:hover {
  background-color: #054C3E;
  /* width: 100%; */
  width: 12.2vw;
  margin-top: 5vh;
  /* margin-bottom: 4vh; */
  height: 6vh;
  border-radius: 7px;
  color: white;
  font-size: large;
  /* font-weight: bold; */
  border: none;
  /* border-color: #0BA385; */
}


h1 {
  margin-top: 6vh;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Chamados */
.chamados {
  margin-top: 10px;
  display: flex;
  align-items: start;
  /* width: 100vw;
    height: 100vh; */
  flex-direction: column;
  justify-content: start;
  margin-bottom: 25px;
  max-height: 50%;
  min-height: fit-content;
  width: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 2px;
  border-radius: 7px;

}

.chamado {
  width: 80vw;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);

}

/* Cabeçalho chamado */
.cabecalhoChamado {
  width: 100%;
  height: 10vh;
  background-color: #054C3E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 7px 7px 0 0;

}

.sobreChamado p {
  background-color: #054C3E;
  font-size: 16px;


}

.informacoesChamado p {
  background-color: #054C3E;
  

}

.tituloChamado {
  padding-left: 58px;
  margin-bottom: 10px;
}

.informacoesChamado {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: #054C3E;

}

.informacoesChamado img {
  width: 2vw;
  height: 4vh;
}

.separacaoInformacoes {
  display: flex;
  width: auto;
  /* width: 32%; */
  justify-content: space-between;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes p {
  margin-left: 5px;
  background-color: #054C3E;

}

.separacaoInformacoes2 {
  display: flex;
  width: auto;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes2 p {
  margin-left: 5px;
  background-color: #054C3E;

}

.separacaoInformacoes3 {
  display: flex;
  width: auto;
  margin-left: 10px;
  background-color: #054C3E;

}

.separacaoInformacoes3 p {
  margin-left: 5px;
}

.negrito {
  font-weight: bold;
}

.dadosChamado {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  /* align-items: center; */
  justify-content: space-around;
  width: 12vw;
  height: 90%;
  align-items: center;
  background-color: #054C3E;
}

.dadosChamado button {
  background-color: #CE1919;
  /* width: 100%; */
  width: 12.2vw;
  height: 5vh;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  /* border-color: #CE1919; */
}

.sobreChamado {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  background-color: #054C3E;
  
}

.fundoChamado {
  width: 100%;
  height: 25vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
  border-radius: 0 0 7px 7px;

  -webkit-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
  box-shadow: 0px 0px 7px 2px rgba(5,76,62,1);
}


/* Texto chamado */
.fundoChamado p {
  align-self: flex-start;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  justify-content: center;
  background-color: #fff;
}

.textoChamado {
  /* width: 1100px; */
  width: 70vw;
  height: 70%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 10px;
}

.frameAlertas {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding:1px;
  margin: 0;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 8vh;
}

frameAlertas p {
  padding-top: 10px;
  margin-bottom: -10px;
}

.frameAlertas:hover {
  background-color: #08836a;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;

  -webkit-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
  box-shadow: 0px 0px 10px 4px rgba(5, 76, 62, 1);
}

.frameAlertas:hover p,
.frameAlertas:hover .status-alerta,
.frameAlertas:hover .hrDt p {
  color: #fff;
}

/* Cor do status de alerta */
.status-alerta {
  color: #d30808;
  font-weight: 600;
  /* Cor vermelha para alertas */
}

/* Seção de data e hora */
.hrDt {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  gap: 5%;
  align-items: center;
}

/* Texto de data e hora */
.hrDt p {
  font-size: 1.1rem;
  color: #000;
}


.alertas {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 10px;
  width: 95%;
  height: 100%;
}

.alertas p {
  font-size: 1.2rem;
  color: #000;
}

/* Título da seção de alertas */
.titulo-alerta {
  font-size: 24px;
  color: #ffffff;
  padding: 40px 0px 0px 5px;
  /* margin: 10px; */
  /* margin-bottom: 3%; */
}

.tAlertas {
  font-size: 22px;
  color: #ffffff;
  /* padding: 20px 0px 0px 0px; */

  color: #ffffff;
  margin: 7px;
  font-weight: 400;
  /* margin-bottom: 3%; */
  font-family: "Montserrat", sans-serif;
}

.alertas h2{
  color: white;
  font-family: "Montserrat", sans-serif;
}

.conteudo-card{
  display: flex;
  width: 25%;
}

.valor-card{
  padding-left: 10px;
  color: black;
}

.icons{
  display: flex;
}




.conteudo-card:hover h3,
.conteudo-card:hover h4,
.conteudo-card:hover p,
.iconEdit:hover svg,
.iconTrash:hover svg {
    color: white;
    fill: white;
    cursor: pointer;

}

.conteudo-card:hover .iconEdit svg path,
.conteudo-card:hover .iconTrash svg path {
    fill: white;
    color: white;
    visibility: visible;
    
}


/* Responsividade */
/* Ajustes para resoluções menores, como tablets*/
@media (max-width: 750px) {
  .tituloChamado {
    padding-left: 30px;
  }

  .chamado {
    margin-bottom: 0vh;
  }

  .chamados {
    height: 72%;
  }

  .informacoesChamado {
    width: 78%;
  }

  .cabecalhoChamado {
    font-size: 13px;
    width: 92%;
    height: 7vh;
  }

  .separacaoInformacoes {
    width: 173px;
  }

  .separacaoInformacoes2 {
    width: 120px;
  }

  .separacaoInformacoes3 {
    width: 80px;
  }

  .sobreChamado {
    font-size: 9px;
  }

  .dadosChamado {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    /* align-items: center; */
    justify-content: space-around;
    width: 12vw;
    height: 90%;
    align-items: center;
  }

  .dadosChamado button {
    background-color: #CE1919;
    font-size: 10px;
    width: 14vw;
    border-radius: 5px;
    height: 2.5vh;
    color: #CE1919;
  }

  .fundoChamado {
    width: 92%;
    height: 55%;
  }

  .fundoChamado p {
    font-size: 13px;
    font-weight: bold;
  }

  .textoChamado {
    width: 64vw;
    height: 67%;
  }

  main {
    margin-left: 13vw;
  }

  .informacoesChamado img {
    display: none;
  }
}

/* smartphone */
@media (max-width: 350px) {

  header {
    display: none;
  }

  .chamados {
    height: 71%;
  }

  .chamado {
    width: 80vw;
  }

  main {
    margin-left: 5vw;
  }

  .tituloChamado {
    padding-left: 20px;
  }

  .cabecalhoChamado {
    width: 100%;
    height: 10vh;
    flex-direction: column;
  }

  .sobreChamado {
    justify-content: space-evenly;
  }

  .informacoesChamado {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7px;
  }

  .fundoChamado {
    width: 100%;
  }

  .dadosChamado {
    flex-direction: row;
    width: 75vw;
  }

  .dadosChamado button {
    width: 47vw;
  }
}